MONGO_URI=mongodb://127.0.0.1:27017/schedule_k
PORT=4000
JWT_SECRET=Qu3_R3gr353_3I_Mauu_La_Un0_m0n3da
COORDINATOR_SECRET=Coordinador_Secret_123
EMAIL_USER=losrubiosrojos@gmail.com
EMAIL_PASS=hmzzmgoyhkzdghpm
AUTH_SERVICE_URL=http://localhost:5066
INTERNAL_AUTH_SECRET=Internal_Secret_123